<nav>
  {{#link-to 'index'}}
    <button class="icon__btn">
      <img class="iconic" data-src="icons/home.svg">
    </button>
  {{/link-to}}
</nav>

<div class="container">
  <h1 class="form__header">Settings for {{model}}</h1>

  <form class="form" {{action "edit" on="submit"}}>

    <div class="fieldset">
      <label class="label" for="margin">
        Margin
      </label>
      {{input name="margin" class="input" type="text" value=margin}}
    </div>

    <div class="fieldset">
      <label class="label" for="padding">
        Padding
      </label>
      {{input name="padding" class="input" type="text" value=padding}}
    </div>

    <div class="fieldset">
      <label class="label" for="color">
        Color
      </label>
      {{input name="color" class="input" type="text" value=color }}
      {{input name="color" class="input--color" type="color" value=color }}
    </div>

    <div class="fieldset">
      <label class="label" for="backgroundColor">
        Background Color
      </label>
      {{input name="backgroundColor" class="input" type="text" value=backgroundColor }}
      {{input name="backgroundColor" class="input--color" type="color" value=backgroundColor }}
    </div>

    <button class="btn" {{action "save"}}>Save Settings for {{model}}</button>
  </form>
</div>

{{outlet}}
