
<button {{action 'reload'}}>RELOAD</button>

<button {{action 'inspect'}}>MAGNIFYING GLASS GOES HERE</button>


<form class="form" {{action "edit" on="submit"}}>

  <div class="fieldset">
    <label class="label" for="fontFamily">
      Font Family
    </label>
    {{input name="fontFamily" class="input input--font-family" type="text" value=fontFamily}}
  </div>

  <div class="fieldset">
    <label class="label" for="scale">
      Scale
    </label>
    {{input name="scale" class="input" type="number" value=scale}}
  </div>

  <div class="fieldset">
    <label class="label" for="color">
      Color
    </label>
    {{input name="color" class="input" type="text" value=color}}
    {{input name="color" class="input--color" type="color" value=color }}
  </div>

  <div class="fieldset">
    <label class="label" for="surface">
      Surface
    </label>
    {{input name="surface" value=surface}}
  </div>

  <button class="btn" {{action "save"}}>SAVE THEME</button>
</form>
