<button {{action 'reload'}}>reload</button>

<form {{action 'edit' on='submit'}}>
  <label>
    Font Family
    {{input type='text' value=fontFamily}}
  </label>

  <br>

  <label>
    Scale
    {{input type='text' value=scale}}
  </label>

  <label>
    Color
    {{input type='text' value=color}}
  </label>

  <button {{action 'edit'}}>Save theme</button>
</form>
